.contato h1 {
  text-align: center;
  color: #fff;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 4em;
  padding-top: 1.5em;
  padding-bottom: .7em;
}

.network {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.network img{
  width: 200px;
  margin-top: 3%;
  margin-left: 10px;
}

@media (max-width: 600px) {

  .network img{
    width: 100px;
  }

}
